<div class="like-index text-center">
  <div>
    <%= @end_user.nickname %>様のお気に入り
  </div>
  <% if @bookmarks.length != 0 %>
    <% @bookmarks.each do |post| %>
      <div class="recipe-contents d-flex">

        <div class="bookmarks">

          <div class="content">
            <span><%= image_tag post.get_image(70,70), class: "index-img"  %></span>
            投稿者: <span><%= post.end_user.nickname %></span>
            施設名: <span><%= post.facility_name %></span>
            施設住所: <span><%= post.address %></span>
            施設住所: <span><%= post.detailed_description %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    お気に入りはまだ登録されていません
  <% end %>
</div>