<div class="container-field align-items-center">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-5">
      <div class="border border-white contents-area bg-white">

        <div class="text-center">
          <%= @end_user.nickname %>様のお気に入り
        </div>

          <div class="m-5">
            <% if @bookmarks.length != 0 %>
              <% @bookmarks.each do |post| %>
                <div class="d-flex justify-content-start mb-5">
                  <div><%= image_tag post.get_image(70,70) %></div>
                  <div><%= post.end_user.nickname %></div>
                  <div><%= post.facility_name %></div>
                  <div><%= post.address %></div>
                  <div><%= post.detailed_description %></div>
                </div>
              <% end %>
            <% else %>
              <div class="text-center">
                お気に入りはまだ登録されていません。
              </div>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>