<div class="container mt-3 mb-3 bg-light">

  <div class="row">
    <h3 class="mb-2 ml-5"><span class="border-bottom border-dark">会員情報編集</span></h3>
  </div>

  <%= form_with model: @end_user do |f| %>
    <div class="row mb-1 field">
      <div class="col-3 offset-md-1"><%= f.label "ニックネーム" %></div>
      <div class="col-3"><%= f.text_field :nickname, :size => "50" %></div>
    </div>

    <div class="row mb-1 field">
      <div class="col-3 offset-md-1"><%= f.label "メールアドレス" %></div>
      <div class="col-3"><%= f.email_field :email, :size => "50" %></div>
    </div>

    <div class="row mb-1 field">
      <div class="col-3 offset-md-1"><%= f.label "一言自己紹介" %></div>
      <div class="col-3"><%= f.text_area :introduction, :size => "50" %></div>
    </div>

    <div class="row mb-1">
      <div class="col-2 offset-md-1"></div>
      <div class="col-3 offset-md-1 mt-3 mb-5">
        <%= f.submit "編集内容を保存", class:"col btn btn-success" %>
      </div>
      <div class="col-3 offset-md-1 mt-3">
        <%= link_to "退会する", unsubscribe_end_users_path, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>

</div>