<div class="container">
  <div class="row m-5">
    <div class="col-xl col-lg col-md col-sm">
      <div class="border border-white contents-area bg-white">

        <div class="text-start m-5">
            <h3><strong><%= flash[:notice] %></strong></h3>
            <h3><strong class="border-bottom border-dark"><%= @end_user.nickname %>様のマイページ</strong></h3>
        </div>


          <div class="m-5">
            <table class="table table-bordered contents-area mb-5">
              <tbody>
                <tr>
                  <th scope="row", class="table-light col-3 text-left">ニックネーム</th>
                  <td><%= @end_user.nickname %></td>
                </tr>
                <tr>
                  <th scope="row", class="table-light col-3 text-left">メールアドレス</th>
                  <td><%= @end_user.email %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <% if @end_user.nickname != "guestuser" %>
              <div class="col-sm">
                <%= link_to "編集", edit_end_user_path, class: "btn btn-success btn_lg btn-block mb-3" %>
              </div>
            <% end %>
          </div>

          <div><%= render "bookmark", bookmark: @bookmark %></div>


      </div>
    </div>
  </div>
</div>