<table class="table table-hover">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>施設画像</th>
      <th>施設名</th>
      <th>施設住所</th>
      <th>詳細説明</th>
      <th>タグ</th>
    </tr>
  </thead>
    <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td><%= post.end_user.nickname %></td>
          <td><%= image_tag post.get_image(50,50) %></td>
          <td><%= post.facility_name %></td>
          <td><%= post.address %></td>
          <td><%= post.detailed_description %></td>
          <td>
            <% post.tags.each do |tag| %>
              <%= tag.tag_type %>
            <% end %>
          </td>
          <td><%= l post.created_at %></td>
          <td>コメント数: <%= post.comments.count %></td>
          <td>ブックマーク数: <%= post.bookmarks.count %></td>
          <td>いいね数: <%= post.likes.count %></td>
          <td>
            <%= link_to "詳細を確認", post_path(post.id), class: "btn btn-warning btn_lg" %>
          </td>
      </tr>
    </tbody>
  <% end %>
</table>