<div class="container-field">
  <div class="row justify-content-center">
    <div class="col-xl-11 col-lg-11 col-md-10 col-sm-10 bg-light">

        <div class="text-center mt-5"><h3><strong><%= flash[:notice] %></strong></h3>
          <h1><strong class="border-bottom border-dark">投稿一覧</strong></h1>
            <%= link_to "新しい順", posts_path(new_post: "true") %>
            |<%= link_to "古い順", posts_path(old_post: "true") %>
        </div>

            <%= render "search", post: @post %>

            <%= render "index", post: @post %>

          <div class="pagination justify-content-center mt-3">
            <%= paginate @posts, theme: "bootstrap-5" %>
          </div>

    </div>
  </div>
</div>