<div class="container bg-light">
  <div class="row m-5">
    <div class="col-xl col-lg col-md col-sm">

      <%= render "error", post: @post %>
      <div class="text-center mt-5"><h3><strong><%= flash[:notice] %></strong></h3></div>

      <div class="row">

        <div class="col-sm">
          <div class="mx-5">
            <%= image_tag @post.get_image(400,400) %>
            <div id="map"></div>
          </div>
        </div>

        <div class="col">
          <div class="mx-5">
            <%= render "bookmark", post: @post %>
            <br>
              <h3><span class="border-bottom border-dark">投稿情報詳細</span></h3>
              <br>
              <%= render "show", post: @post %>
                <div>
                  <% if @post.end_user == current_end_user %>
                    <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-warning btn-lg" %>
                    <%= link_to "削除", post_path(@post.id), class: "btn btn-danger btn_lg", method: :delete, "data-confirm" => "本当に投稿を削除してよろしいですか?" %>
                  <% end %>
                </div>
                <br>
              <div>
                <%= render "public/comments/form", comment: @comment %>
              </div>
              <div id="comments_area">
                <%= render "public/comments/index", comments: @comments, post: @post %>
              </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<style>
     #map {
     height: 400px;
     width: 400px;
    }
</style>
<script>
  function initMap() {
    var address = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 16,
    center: address
    });
    var marker = new google.maps.Marker({
      position: address,
      map: map
    });
       }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAP"] %>&callback=initMap"async defer></script>
