<div class="container-field">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">

      <div class="text-center mt-5"><h3><strong><%= flash[:notice] %></strong></h3></div>

        <div class="border border-secondary contents-area bg-light">

          <div class="bg-secondary p-2 text-light text-center">
            <h1 class="text-light">ようこそ！！<strong>Ve-Commu</strong>へ！！</h1>
          </div>

          <div class="m-5">
            <div class="col-6 mx-auto">

              <div class="row mb-5">
                <div class="col text-center">
                  <%= link_to "あなたのシェアがきっと誰かの役にたつ", about_path %>
                </div>
              </div>
                <br>
              <div class="row mb-3">
                <%= link_to 'ゲストログイン（閲覧用）', end_user_guest_sign_in_path, class: "btn btn-secondary btn-lg btn-block mb-3", method: :post %>
              </div>
              <div class="row mb-3">
                <%= link_to "ログインする",new_end_user_session_path, class: "btn btn-primary btn-lg btn-block mb-3" %>
              </div>
              <div class="row mb-3">
                <%= link_to "新規登録する",new_end_user_registration_path, class: "btn btn-success btn-lg btn-block mb-3" %>
              </div>

            </div>
          </div>

        </div>

    </div>
  </div>
</div>