<div class="container-field">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
      <div class="border border-white contents-area bg-white">

        <div class="text-secondery text-center">
          <h3><strong>お問い合わせフォーム</strong></h3>
        </div>
          <%= render "error", contact: @contact %>
        <div class="text-center">
          <h3><strong><%= flash[:alert] %></strong></h3>
        </div>

          <%= form_with(model: @contact, local: true) do |f| %>
            <div class="form-group m-5">
              <%= f.label :お名前 %><%= f.label :※入力必須, class: "text-danger" %>
              <%= f.text_field :name, class: "form-control", :placeholder => "お名前" %>
            </div>
            <div class="form-group m-5">
              <%= f.label :メールアドレス %><%= f.label :※入力必須, class: "text-danger" %>
              <%= f.email_field :email, class: "form-control", :placeholder => "メールアドレス" %>
             </div>
            <div class="form-group m-5">
              <%= f.label :お問い合わせ内容 %><%= f.label :※入力必須, class: "text-danger" %>
              <%= f.text_area :content, class: "form-control", :placeholder => "お問合せ内容を入力してください" %>
            </div>

            <div class="form-group text-center">
              <%= f.submit "送信", class: "btn btn-secondary btn_lg" %>
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>