<div class="container border border-light contents-area bg-light" >
  <div class="row mt-5">
    <div class="col-md-10 mx-auto">

      <h3><strong class="border-bottom border-dark">会員情報編集</strong></h3>
        <%= form_with model: @end_user, url:admin_end_user_path, method: :patch do |f| %>
          <div class="contents-area mb-3 pt-3">
            <div class="row mb-4">
              <div class="col-3">会員ID</div>
              <div class="col-3"><%= @end_user.id %></div>
            </div>

            <div class="row mb-4">
              <div class="col-3"><%= f.label "ニックネーム" %></div>
              <div class="col-3"><%= f.text_field :nickname, :size => "50" %></div>
            </div>

            <div class="row mb-4">
              <div class="col-3"><%= f.label "メールアドレス" %></div>
              <div class="col-3"><%= f.email_field :email, :size => "50" %></div>
            </div>

            <div class="row">
              <div class="col-3">会員ステータス</div>
                <%= form_with model: @end_user, url:admin_end_user_path, method: :patch do |f| %>
                  <div class="col-3">
                    <%= f.radio_button :is_deleted, false %>
                    <%= f.label :is_deleted, '有効', class: "mr-2" %>
                    <%= f.radio_button :is_deleted, true %>
                    <%= f.label :is_deleted, '退会' %>
                  </div>
                <% end %>
            </div>

            <div class="d-grid gap-2 d-md-block">
              <%= f.submit "変更を保存", class:"  btn btn-success" %>
            </div>
          </div>
        <% end %>

    </div>
  </div>
</div>