<div class="container border border-light contents-area bg-light" >
  <div class="row mt-5">

    <div class="col-4 mb-3 offset-1">
      <h3><strong class="border-bottom border-dark">会員情報編集</strong></h3>
    </div>

      <div class="container mb-5">
        <div class="row">
          <div class="col-10 mx-auto">

            <%= form_with model: @end_user, url:admin_end_user_path, method: :patch do |f| %>
              <table class="table table-borderless contents-area">
                <tobdy>
                  <tr>
                    <th>会員ID</th>
                    <td><%= @end_user.id %></td>
                  </tr>
                  <tr>
                    <th><%= f.label "ニックネーム" %></th>
                    <td><%= f.text_field :nickname, :size => "50" %></td>
                  </tr>
                  <tr>
                    <th><%= f.label "メールアドレス" %></th>
                    <td><%= f.email_field :email, :size => "50" %></td>
                  </tr>
                </tobdy>
              </table>
              <%= form_with model: @end_user, url:admin_end_user_path, method: :patch do |f| %>
                <table class="table table-borderless contents-area">
                  <tobdy>
                    <tr>
                      <th>会員ステータス</th>
                        <td>
                          <%= f.radio_button :is_deleted, false %>
                          <%= f.label :is_deleted, "有効" %>
                        </td>
                        <td>
                          <%= f.radio_button :is_deleted, true %>
                          <%= f.label :is_deleted, "退会" %>
                        </td>
                    </tr>
                  </tobdy>
                </table>
              <% end %>
              <div class="row">
                <%= f.submit "変更を保存", class: "btn btn-success" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>

  </div>
</div>