<div class="container border border-light contents-area bg-light" >
  <div class="row mt-5">
    <%= flash[:notice] %>
    <div class="col-4 mb-3 offset-1">

      <h3><strong class="border-bottom border-dark"><%= @end_user.nickname %>さんの会員情報詳細</strong></h3>
    </div>

      <div class="container mb-5">
        <div class="row">
          <div class="col-10 mx-auto">

            <table class="table table-borderless contents-area">
              <thead>
                <tr>
                  <th>会員ID</th>
                  <td><%= @end_user.id %></td>
                </tr>
                <tr>
                  <th>ニックネーム</th>
                  <td><%= @end_user.nickname %></td>
                </tr>
                <tr>
                  <th>メールアドレス</th>
                  <td><%= @end_user.email %></td>
                </tr>
                <tr>
                  <th>会員ステータス</th>
                  <% if @end_user.is_deleted == false %>
                    <td><strong><p class="text-success">有効</p></strong></td>
                  <% elsif %>
                    <td><strong><p class="text-secondary">退会</p></strong></td>
                  <% end %>
                </tr>
              </thead>
            </table>

          <div class="d-grid gap-2 d-md-block">
            <%= link_to edit_admin_end_user_path(@end_user.id), class: 'text-light' do %>
              <button class="btn btn-success" type="submit">編集する</button>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>