<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <%= link_to image_tag('logo.png', width: '100', height: '100', class: 'mx-4 my-3'), root_path %><h1 class="text-light">Ve-Commu</h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item font-weight-bold text-info">
          <% if end_user_signed_in? %>
            <p class="pt-3">ようこそ、<span class="h5"><strong><%= current_end_user.nickname %></strong></span> 様</p>
          <% elsif admin_signed_in? %>
            <p class="h5 pt-5 pb-5"><strong>管理者ログイン中</strong></p>
          <% else %>
            <p class="pt-3">ようこそ！！お越しくださり、ありがとうございます！！</p>
          <% end %>
        </li>

        <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to admin_end_users_path, class: "btn btn-outline-light btn-lg" do %>
            <i class="fas fa-user-check"></i> 会員一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_comments_path, class: "btn btn-outline-warning btn-lg" do %>
            <i class="fas fa-comment-alt"></i> コメント一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_tags_path, class: "btn btn-outline-success btn-lg" do %>
            <i class="fas fa-tag"></i> タグ一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-outline-danger btn-lg" do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>
        </li>

        <% elsif end_user_signed_in? %>
        <li class="nav-item">
          <%= link_to end_user_path(current_end_user), class: "btn btn-outline-light btn-lg" do %>
            <i class="fas fa-users"></i> マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_post_path, class: "btn btn-outline-success btn-lg" do %>
            <i class="fas fa-share"></i> 新規投稿
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to posts_path, class: "btn btn-outline-primary btn-lg" do %>
            <i class="fas fa-share"></i> 投稿情報情報一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_contact_path, class: "btn btn-outline-light btn-lg" do %>
            <i class="fas fa-paper-plane"></i> お問い合わせ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_end_user_session_path, method: :delete, class: "btn btn-outline-danger btn-lg" do %>
            <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        </li>

        <% else %>
        <li class="nav-item">
          <%= link_to about_path, class: "btn btn-outline-light btn-lg" do %>
            <i class="fas fa-leaf"></i> Ve-Commuについて
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_end_user_registration_path, class: "btn btn-outline-success btn-lg" do %>
            <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to end_user_session_path, class: "btn btn-outline-primary btn-lg" do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
          <% end %>
        </li>
      <% end %>

      </ul>

    </div>
  </div>
</nav>